@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    padding-bottom: 80px;
}

hr {
  background-color:  rgba(27, 31, 35, 0.04);
}

h1 {
  letter-spacing: -0.03em;
}

.nav-link {
  color: #24292E;
}

.tag {
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(27, 31, 35, 0.04);
  text-decoration: none;
  color: black;
  margin-right: 8px;
}