@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
    padding-bottom: 80px;
}

hr {
  background-color:  rgba(27, 31, 35, 0.04);
}

h1 {
  letter-spacing: -0.03em;
}

.nav-link {
  color: #24292E;
}

.btn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: "DM Sans", -apple-system, system-ui, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #F3F4F6;
  color: #24292E;
  border: 1px solid rgba(27, 31, 35, 0.15);
  text-decoration: none;
  transition-duration: 0.1s;
  box-shadow: rgba(27, 31, 35, 0.04) 0 2px 0, rgba(255, 255, 255, 0.25) 0 4px 0 inset;
}

.btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn:before {
  display: none;
}

.correct {
    color: #140ed5;
}

.btn-nav {
  color: #575656;
}

.btn-like {
  align-items: center;
  padding: 6px 8px;
  border-radius: 16px;
  font-weight: 400;
}

.btn-like:hover {
  align-items: center;
  padding: 6px 8px;
  color: rgba(248, 31, 44);
  font-weight: bold;

  background: rgba(248, 31, 44, 0.12);
  border: 2px solid rgba(248, 31, 44, 0.32);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(248, 31, 44, 0.08), 0px 2px 6px rgba(248, 31, 44, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.btn-like:focus {
  align-items: center;
  padding: 6px 8px;

  background: rgba(248, 31, 44, 0.12);
  border: 2px solid rgba(248, 31, 44, 0.32);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(248, 31, 44, 0.08), 0px 2px 6px rgba(248, 31, 44, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.tag {
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(27, 31, 35, 0.04);
  text-decoration: none;
  color: black;
  margin-right: 8px;
}