{% extends "inc/base.html" %}

<div>
    {% block content %}
        <form action="" class="gy-4">
            <h3>New Question</h3>
            <div class="md-3 mb-3 form-floating">
                <input type="email" class="form-control" id="email" placeholder="email@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="md-3 mb-3 form-floating">
                <textarea class="form-control" id="text" rows="5"></textarea>
                <label for="text">Your question</label>
            </div>
            <div class="md-3 mb-3 form-floating">
                <label for="staticText">Your question</label>
                <textarea class="form-control" id="staticText" rows="5"></textarea>
            </div>
            <div class="md-3 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endblock %}
</div>