{% extends "inc/base.html" %}

<div class="pagination">
    {% block content %}
        <h6>QUESTIONS</h6>
        {% for question in page_content %}
            <div class="my-4">
                {% include "inc/question.html" %}
            </div>
        {% endfor %}
        <nav class="d-flex justify-content-center nav nav-pills me-auto">
            {% for p in paginator %}
                <a class="btn btn-nav me-2" href="?page={{ p.number }}">{{ p.number }}</a>
            {% endfor %}
        </nav>
    {% endblock %}
    {% block tags %}
        {% include "inc/tags.html" %}
        <script>
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

$(".btn-like").on('click', function (ev) {
    const $this = $(this)

        const request = new Request(
            'http://127.0.0.1:8000/vote/',
            {
                method: 'post',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'question_id=' + $this.data('id')
            }
        );
        fetch(request).then(function (response) {
            console.log(response)
        })
})
    </script>

    {% endblock %}
</div>