{% extends "inc/auth.html" %}

{% block content %}
<h3 class="mb-5">Login Page</h3>
<form class="form">
    <div class="mb-3">
        <label>Login</label>
        <input type="email" class="form-control" id="email" placeholder="awesome_login">
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" id="email" placeholder="email@example.com">
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="email" class="form-control" id="email">
    </div>
    <button class="btn">Login!</button>
    <a style="font-size: 12px; color:#575656; text-decoration: none; margin-left: 16px" href="{% url "index" %}">Return to questions</a>
</form>
{% endblock %}