{% extends 'inc/base.html' %}

<div>
    {% block content %}
        <h6>QUESTION</h6>
        <div class="my-4">
            <h1>{{ question.title }}</h1>
            <p>{{ question.content }}</p>
        </div>
        <h6>ANSWERS: {{ question.number_of_answers }}</h6>
        {% for answer in page_content %}
            <div class="my-4">
                {% include "inc/answer.html" %}
            </div>
        {% endfor %}
        <hr>
        <button class="btn">Answer this question</button>
        <nav class="d-flex justify-content-center nav nav-pills me-auto">
            {% for p in paginator %}
                <a class="btn btn-nav me-2" href="?page={{ p.number }}">{{ p.number }}</a>
            {% endfor %}
        </nav>
    {% endblock %}
</div>