{% extends 'inc/base.html' %}
{% load bootstrap4 %}

<div>
    {% block content %}
        <h6>QUESTION</h6>
        <div class="my-4">
            <h1>{{ question.title }}</h1>
            <p>{{ question.content }}</p>
        </div>
        <h6>ANSWERS: {{ question.number_of_answers }}</h6>
        {% for answer in page_content %}
            <div class="my-4">
                {% include "inc/answer.html" %}
            </div>
        {% endfor %}
        <hr>
        <form action="/questions/question{{ question.id }}/" method="post">
            {% csrf_token %}
            {% bootstrap_form answer_form %}
            <button class="btn" type="submit">Answer this question</button>
        </form>
        <nav class="d-flex justify-content-center nav nav-pills me-auto">
            {% for p in paginator %}
                <a class="btn btn-nav me-2" href="?page={{ p.number }}">{{ p.number }}</a>
            {% endfor %}
        </nav>
    {% endblock %}
</div>