{% extends "inc/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h3 class="mb-5">Registration</h3>
    <div class="card p-5">
        <form class="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary mt-4" type="submit">Sign Up!</button>
            <a style="font-size: 12px; color:#575656; text-decoration: none; margin-left: 16px" href="{% url "index" %}">Return to questions</a>
        </form>
    </div>
{% endblock %}