{% load static %}

<div style="border: none; border-radius: 16px" class="col-12 card">

    <div class="row px-4 py-4">
        <div class="d-flex flex-row align-items-center">
            <img style="height: 24px; width: 24px; border-radius: 8px" class="avatar" src="{{ answer.author.avatar.url }}">
            <h6 class="my-2 mx-3">{{ answer.author.user.first_name }} {{ answer.author.user.last_name }}</h6>
        </div>
        <p class="my-2">{{ answer.content }}</p>
        {% if answer.is_correct %}
            <h6 class="correct my-2">Correct!</h6>
        {% endif %}
        <hr>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-like">{{ question.get_number_of_likes }}<img src="{% static "icons/arrow-up-circle.svg" %}" width="16" height="16" style="margin-right: 8px">vote</button>
        </div>
    </div>
</div>