{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand flex-grow-1">AskMe</a>
        <div class="collapse navbar-collapse flex-grow-1">
            <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a href="{% url "index" %}" class="nav-link">Questions</a>
                </li>
                <li class="nav-item me-2">
                    <a href="{% url "hot" %}" class="nav-link">Hot 🔥</a>
                </li>
                <li class="nav-item me-2">
                    <a href="{% url "ask" %}" class="nav-link">Ask question!</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse">
            <div class="nav-item me-4">
                 <form action="" class="d-flex">
                     <input type="text" class="form-control me-2" placeholder="Search">
                     <button class="btn btn-outline-success btn-header">Search</button>
                 </form>
            </div>
            <div class="nav-item me-4 user">
                {% if user.is_authenticated %}
                    <a style="text-decoration: none; color: #000" href="{% url "profile" %}">
                        <div class="d-flex flex-row">
                            <div><img alt="user icon" height="24px" width="24px"></div>
                            <div>
                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                                <p style="font-size: 12px; margin-top: -12px; color: #959DA5">{{ user.username }}</p>
                            </div>
                        </div>
                    </a>
                    <a class="btn" href="{% url "logout_view" %}">Log out</a>
                {% else %}
                    <a class="btn" href="{% url "login" %}">Login In</a>
                    <a class="btn" href="{% url "signup" %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>